main {
   padding: 15px 0; 
}

.auth__main {
   max-width: calc(100vw - 30px); 
   margin: 0 auto;
}

.auth__form {
   border: .8px solid rgb(180, 180, 180); 
   margin: 0 auto; 
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 30px;
}

.auth__form.login {
   width: 650px;
}

.auth__form > *:not(:first-child) {
   margin-top: 28px;
}

.auth__form__title {
   text-transform: uppercase;
   font-size: 22px;
}

.auth__requires {
   width: 100%;
   align-self: flex-start;
}

.auth__form.login .auth__requires > *:not(:first-child),
.auth__form.register .auth__requires > div > *:not(:first-child) {
   margin-top: 20px;
}

.auth__requires input {
   width: 100%;
   padding-bottom: 12px; 
   border-bottom: 1px dashed rgb(180, 180, 180);
   color: rgb(160, 160, 160);
   font-size: 18px;
}

.auth__req__btn {
   text-transform: uppercase;
   background: var(--primary-color);
   font-size: 16px;
   padding: 14px 24px;
   transition: .15s all;
   font-weight: 600;
}

.auth__req__btn {
   color: #fff;
}

.auth__req__btn:hover {
   background: var(--secondary-color);
   color: #000;
}

.auth__social__methods {
   display: flex;
   justify-content: center;
   align-items: center;
}

.auth__social__methods > * {
   margin: 0 12px;
}

.auth__social__method {
   display: flex;
   align-items: center;
   height: 55px; 
   border-radius: 60px; 
   width: 180px;  
   color: #fff !important; 
   font-size: 18px;
}

.auth__social__method span {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  margin-right: 32px;
  height: 55px;
  width: 55px;
  border-radius: 100%;
  border: .8px solid rgb(208, 76, 76);
}

.auth__social__method span ion-icon {
  font-size: 24px;
}

.auth__social__method.google {
   background: rgb(208, 76, 76);
}

.auth__social__method.google span ion-icon {
   color: rgb(208, 76, 76);
}

.__link:hover {
   color: var(--primary-color);
}

.auth__form.register .auth__req__btn {
   margin: 0 6px;
}

.auth__form.register .auth__requires {
   display: grid;
   grid-template-columns: 1fr 1fr; 
   column-gap: 3rem;
}

.error__title {
   display: none;
   color: var(--primary-color);
   font-size: 13px;
   font-style: italic;
   margin-top: 12px;
}

@media (min-width: 480px) {
   main {
      padding: 25px 0; 
   }
}

@media (min-width: 792px) {
   main {
      padding: 35px 0; 
   }

   .auth__main {
      max-width: calc(100vw - 60px); 
   }   
}

@media (min-width: 960px) {
   main {
      padding: 40px 0;
   }
}

@media (min-width: 1024px) {
   main {
      padding: 45px 0; 
   }
}

@media (min-width: 1450px) {
   main {
      padding: 50px 0;
   }

   .auth__main {
      max-width: var(--section-max-width);
   }
}
