main {
  padding: 15px 0;
}

.product-detail {
  display: flex;
  flex-direction: column-reverse;
  max-width: calc(100vw - 30px);
  margin: 0 auto;
}

#aside__main {
  margin-top: 20px;
}

.aside__main__section:not(:last-child) {
  margin-bottom: 20px;
}

.aside__title {
  padding: 16px 12px;
  background: var(--primary-color);
  color: #fff; 
  text-transform: uppercase;
  font-size: 16px; 
  font-weight: 700;
}

.aside__main__list {
  list-style: none;
}

.new-products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .8rem;
}

.new-products li {
  text-align: center;
}

.aside__main__list li {
  width: 100%; 
  padding: 4px; 
}

.aside__main__list li img {
  width: 120px; 
  height: 120px;
}

.aside__main__list li p {
  text-transform: uppercase; 
  font-size: 13px; 
}

.new-products li p {
  font-weight: 500;
}

.aside__main__list li p,
.articles li p {
  line-height: 1.8;
}

.articles li p {
  margin-left: 10px;
}

.articles li {
  display: flex; 
  align-items: center;
  margin: 6px 0;
}

.product-detail__main-information {
  margin-top: 30px;
}

.product-detail__main-image {
  text-align: center;
}

.product-detail__images-list {
  display: flex; 
}

.product-detail__images-list img {
  width: 120px; 
  height: 120px;
  border: 1px solid #bababa;
}

.product-detail__name {
  font-size: 24px;
  font-weight: 600;
}

.product-detail__description {
  opacity: .8;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.5;
  margin-top: 20px;
  padding: 14px 0;
  border-bottom: .8px solid rgb(225, 225, 225);
}

.product-detail__category {
  font-size: 15px;
  padding: 14px 0;
  border-bottom: .8px solid rgb(225, 225, 225);
}

.product-detail__category span {
  opacity: .7;
  font-weight: 600;
}

.product-detail__addon {
  padding: 14px 0;
  border-bottom: .8px solid rgb(225, 225, 225);
}

.product-detail__addon ul {
  display: flex;
  column-gap: .5rem;
  margin-top: 10px;
}

.product-detail__addon ul li {
  border: .8px solid rgb(195, 195, 195);
  padding: 8px 12px;
}

.product-detail__price {
  padding: 14px 0;
  border-bottom: .8px solid rgb(225, 225, 225);
  font-size: 24px;
}

.product-detail__price span {
  color: var(--primary-color);
  font-weight: 700;
}

.product-detail__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0;
}

.product-detail__actions > p {
  font-size: 18px;
  font-weight: 600;
}

.product-detail__actions > div {
  margin-top: 10px;
  display: flex;
}

#product-detail__quantity {
  text-align: center;
  font-size: 16px;
  width: 45px;
  height: 45px;
  border: 1px solid gray;
}

#product-detail__add-cart {
  display: flex;
  align-items: center;
  padding: 10px 14px;
  background-color: var(--secondary-color);
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: 600;
  color: #3b3b3b;
}

#product-detail__add-cart ion-icon {
  font-size: 18px;
  margin-right: 8px;
}

@media (min-width: 480px) {
   main {
      padding: 25px 0; 
   } 
}

@media (min-width: 792px) {
  .product-detail {
    max-width: calc(100vw - 60px);
    display: grid; 
    grid-template-columns: 1fr 3fr; 
    column-gap: 1.8rem;
  }

  #aside__main {
    margin-top: 0;
  }

   main {
      padding: 35px 0; 
   }
}

@media (min-width: 960px) {
   main {
      padding: 40px 0;
   }
}

@media (min-width: 1024px) {
   main {
      padding: 45px 0; 
   } 

   .product-detail__main {
      display: grid;
      grid-template-columns: 1fr 1.1fr;
      column-gap: 1rem;
      row-gap: 3rem;
   }

   .product-detail__actions {
      display: block;
   }

   .product-detail__main-information {
      margin-top: 0;
   }
}

@media (min-width: 1450px) {
  .product-detail {
    max-width: var(--section-max-width);
  }

   main {
      padding: 50px 0;
   }
}


