/* .d-flex { display: flex; }
.justify-content-center { justify-content: center; }
.justify-content-end { justify-content: flex-end; }
.align-items-center { align-items: center; }
.align-items-end { align-items: flex-end; }

.w-100pc { width: 100%; }
.h-100pc { height: 100%; }

.min-vh-100 { min-height: 100vh; }

.fw-600 { font-weight: 600; }
.fw-700 { font-weight: 700; } */