/* ============== IMPORT FONTS USE ============== */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap'); */
@import url("https://db.onlinewebfonts.com/c/3e8c66479e166f48e44525609aebd682?family=Graviola+Soft+W01");
/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto Condensed, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto Condensed, sans-serif !important;
}

button, input, select, textarea {
  background-color: transparent;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: #000;
}

input[type=text], input[type=password], input[type=date], select, textarea {
  font-size: 13px;
  padding-left: 12px;
}

select {
  padding: 0 16px;
}

ul, ol {
  list-style: none;
}

:root {
  --primary-color: #C90014;
  --secondary-color: #fac122;
  --green-color: #548c1d;
  --primary-hover-color: #a50414;
  --delay: all .2s ease;
  --long-delay: all 1s ease;
  --header-height: 4rem;
  --section-max-width: 1280px;
}

.hl__primary {
  color: var(--primary-color);
}

#content {
  display: none;
}

#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  background-image: url("../public/images/front-loading.gif");
  background-repeat: no-repeat;
  background-position: center;
}

#dialog {
  display: none;
  position: fixed;
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0; 
  background: rgba(0, 0, 0, .4);
}

#dialog__main {
  display: none;
  position: absolute;
  width: 26rem;
  text-align: center;
  background: rgba(0, 0, 0, .7);
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  padding: 1.5rem 5rem;
}

#dialog__title {
  color: #fff;
  font-weight: 600;
}

#dialog__main > *:not(:first-child) {
  margin-top: 2rem;
}

#dialog__main,
#dialog__buttons > button {
  border-radius: 7px;
}

#dialog__buttons {
  display: flex;
  column-gap: 1rem;
}

#dialog__buttons > button {
  width: 12rem; 
  height: 3rem;
}

#dialog__buttons > button:first-child {
  background: #fff;
  border: 1px solid #2abfa5;
  color: #2abfa5;
}

#dialog__buttons > button:last-child {
  background: #2abfa5;
  color: #fff;
}

.circle {
  display: inline-block;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: #2abfa5;
  border: 3px solid #fff;
  position: relative;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -3px;
  margin-left: 1px;
  width: 16px;
  height: 32px;
  border-right: 3.5px solid #fff;
  border-bottom: 3.5px solid #fff;
  animation: checkmark 1s ease-in-out forwards;
}

@keyframes checkmark {
  0% {
    transform: translate(-50%, -50%) rotate(45deg) scale(0.5);
  }
  50% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.4);
  }
  100% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
}

#spinner {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 4px solid #ccc;
  border-top-color: #333;
  animation: spinner 0.8s ease-in-out infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

/* ============== BREAKPOINTS ============== */
@media (min-width: 480px) {

}

@media (min-width: 792px) {

}

@media (min-width: 960px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1450px) {

}