/* ============== IMPORT FONTS USE ============== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url("https://db.onlinewebfonts.com/c/3e8c66479e166f48e44525609aebd682?family=Graviola+Soft+W01");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto Condensed, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto Condensed, sans-serif !important;
}

button, input, select, textarea {
  background-color: transparent;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

input[type=text], input[type=password], input[type=date], select, textarea {
  font-size: 13px;
  padding-left: 12px;
}

select {
  padding: 0 16px;
}

ul, ol {
  list-style: none;
}

:root {
  --primary-color: #C90014;
  --secondary-color: #fac122;
  --green-color: #548c1d;
  --primary-hover-color: #a50414;
  --delay: all .2s ease;
  --long-delay: all 1s ease;
  --header-height: 4rem;
  --section-max-width: 1280px;
}

.hl__primary {
  color: var(--primary-color);
}

/* ============== BREAKPOINTS ============== */
@media (min-width: 480px) {

}

@media (min-width: 792px) {

}

@media (min-width: 960px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1450px) {

}