.home__welcome {
  padding: 30px 0;
}

.home__welcome-main {
  max-width: calc(100vw - 100px);
  margin: 0 auto;
}

.home__welcome__titles {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.home__welcome__titles > *:not(:last-child) {
  margin-bottom: 20px;
}

.home__welcome__titles-top {
  font-size: 42px; 
  font-weight: 600;
  color: rgb(56, 56, 56);
}

.home__welcome__titles-center {
  font-size: 15px;
  color: #deb214;
  font-style: italic;
  line-height: 1.5;
}

.home__welcome__titles-bottom {
  font-size: 14px;
  color: #4d4d4d;
  line-height: 1.8;
}

.home__welcome__titles-button {
  border-radius: 100px;
  padding: 16px 30px;
  color: #fff;
  background-color: var(--primary-color);
  text-transform: uppercase;
  font-size: 13px;
}

.home__welcome__gifts {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  column-gap: 1.5rem;
  margin-top: 30px;
}

.home__welcome__gift {
  display: flex;
  align-items: center;
  width: 100%;
}

.home__welcome__gift img {
  width: 100%;
  height: auto;
}

@media (min-width: 960px) {
  .home__welcome {
    padding: 40px 0;
  }
}

@media (min-width: 1024px) {
  .home__welcome {
    padding: 50px 0;
  }

  .home__welcome-main {
    max-width: calc(100vw - 60px);
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .home__welcome__gifts {
    display: flex;
    justify-content: center;
    margin-top: 0;
  }

  .home__welcome__gift:last-child {
    margin-left: 12px;
  }

  .home__welcome__gift {
    max-width: calc(100vw * 0.15);
  }
}

@media (min-width: 1450px) {
  .home__welcome {
    padding: 60px 0;
  }

  .home__welcome-main {
    max-width: var(--section-max-width);
  }
}