#menu-main {
  padding: 40px 140px; 
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 1.8rem;
}

.menu-left__part:not(:last-child) {
  margin-bottom: 20px;
}

.menu-left__title {
  background-color: var(--primary-color); 
  padding: 16px 12px;
  color: #fff; 
  text-transform: uppercase; 
  font-size: 16px; 
  font-weight: 700;
}

.menu-left__categories__list {
  list-style: none; 
  background-color: rgb(235, 235, 235);
}

.menu-left__categories__item {
  font-size: 14px; 
  padding: 16px 12px; 
  text-transform: uppercase; 
  font-weight: 600;
}

.menu-left__categories__item a {
  text-decoration: none; 
  color: #000;
}

.tags__list {
  padding: 12px; 
  display: flex; 
  list-style: none; 
  flex-wrap: wrap; 
  column-gap: 12px; 
  row-gap: .8rem;
} 

.tags__item {
  border: .8px solid #000;
}

.tags__item a {
  display: inline-block; 
  padding: 12px; 
  font-size: 13px; 
  color: #000;
}

.menu-right__header {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}

.menu-per-page__title, 
.menu-sorts__title {
  font-size: 14px; 
  font-weight: 500;
}

#menu-per-page__selection, 
#menu-sorts__selection {
  border: 1px solid #000; 
  height: 40px;
}

#menu-per-page__selection {
  margin-left: 12px; 
}

.menu-sorts__title {
  margin-right: 12px;
}

.menu-right__center {
  display: grid; 
  grid-template-columns: repeat(4, 1fr); 
  gap: 1.2rem;
  margin-top: 20px;
}

.menu__item {
  border: .8px solid #000; 
  text-align: center;
}

.menu__item__img-wrapper {
  position: relative;
}

.menu__item__img {
  width: 200px;
  height: 200px;
}

.menu__item__actions {
  display: flex; 
  position: absolute; 
  bottom: 10%; 
  left: 50%; 
  transform: translateX(-50%); 
  column-gap: .5rem;
}

.menu__item__action {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  color: #fff;
  width: 30px; 
  height: 30px; 
  background-color: var(--primary-color);
}

.menu__item__name {
  font-size: 16px; 
  font-weight: 500;
  margin-bottom: 14px;
}

.menu__item__price {
  font-weight: 500; 
  margin-bottom: 14px; 
  color: var(--primary-color);
}

.menu__item__description {
  font-weight: 500; 
  font-size: 12px; 
  line-height: 1.5; 
  margin-bottom: 14px; 
  opacity: .8;
}

#menu__item__detail-btn {
  margin-bottom: 14px; 
}

#menu__item__detail-btn a {
  font-weight: 600; 
  display: inline-block; 
  padding: 12px 18px; 
  background-color: var(--primary-color); 
  color: #fff;
}

.menu-right__bottom {
  display: flex; 
  justify-content: center; 
  margin-top: 20px;
}

.menu-right__bottom__page-numbers {
  list-style: none; 
  display: flex; 
  column-gap: .5rem;
}

.page-numbers__btn {
  width: 30px; 
  height: 30px; 
  border: .8px solid #000;
}

.page-numbers__btn a {
  color: #000; 
  font-weight: 500;
}