#add-category-btn {
  font-size: 13px;
}

.categories__table {
  width: 100%;
  border-collapse: collapse;
}

.categories__table td {
  font-size: 12px;
  padding-right: 10px;
}

.categories__table td > * {
  width: 90%;
}

.categories__table__fields {
  border-bottom: 3px solid lightseagreen;
}

.categories__table__fields th {
  padding: 12px 0;
  font-size: 13px;
}

.categories__table th,
.categories__table td {
  font-weight: 600;
}

.categories__table__fields th:last-child, 
.categories__row td:last-child {
  padding-right: 14px;
}

.categories__row {
  border-left: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  background-color: #fff;
}

.categories__row:not(:first-child) td {
  padding: 14px 0;
}

.categories__row.filters {
  background-color: rgb(245, 245, 245);
}

.categories__row.filters td {
  padding: 8px 0;
}

.categories__row.filters td > * {
  border-radius: 5px;
  border: .8px solid rgb(227, 227, 227);
}

.categories__row.filters td > input {
  padding: 8px 12px;
}

.categories__row.filters td > select {
  padding: 8px;
}

.categories__row td:last-child {
  display: flex;
}

.categories__row td:last-child button i {
  font-size: 16px;
}

#categories__filter-btn {
  padding: 8px 12px;
  background-color: white;
}

.pages__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 15px;
}

