main {
  padding: 15px 0;
}

#cart-main {
  max-width: calc(100vw - 30px); 
  margin: 0 auto; 
}

.cart-main__title {
  text-align: center; 
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: .8px solid gray;
  padding: 14px 0; 
}

.cart-main__item {
  border-bottom: .8px solid rgb(220, 220, 220);
  padding: 8px 0;
}

.cart-main__item__overview {
  text-align: center;
}

.cart-main__item__overview img {
  width: 120px; 
}

.cart-main__item__name, 
.cart-main__item__options {
  line-height: 1.5;
}

.cart-main__item__name {
  text-transform: uppercase; 
  font-size: 15px; 
  font-weight: 600;
}

.cart-main__item__options {
  opacity: .8; 
  font-size: 12px; 
  font-weight: 500;
  margin-top: 6px;  
}

.cart-main__item__calc {
  margin-top: 12px;
}

.cart-main__item__price__part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px; 
  font-weight: 600; 
  margin: 12px 0;
}

.cart-main__confirm {
  margin-top: 18px; 
  align-self: flex-end;
  text-align: right;
}

.cart__button {
  padding: 14px 22px;
  background: var(--primary-color);
  transition: all .2s;
}

.cart__button:hover {
  background: var(--secondary-color);
  color: #000; 
  font-weight: 600;
}

.cart__button:hover a {
  color: #000;
  font-weight: 600;
}

.cart__button.explore-more {
  margin-right: 10px;
}

.cart-main__total {
  font-size: 16px;
}

.remove-cart-item-btn.norm,
.cart-main__total,
.cart__button 
.cart__button a {
  font-weight: 600;
}

.cart__button, 
.cart__button a {
  color: #fff;
}

.cart__confirm-buttons {
  margin-top: 20px;
}

.remove-cart-item-btn.icon {
  display: none;
  font-size: 24px;
}

.remove-cart-item-btn.norm {
  width: 100%;
  background: var(--primary-color);
  color: #fff;
  padding: 14px 0;
  font-size: 15px;
}

.remove-cart-item-btn.icon,
.cart-main__total {
  color: var(--primary-color); 
}

#update-cart-btn {
  margin-bottom: 60px;
}

@media (min-width: 480px) {
  main {
    padding: 25px 0;
  }

  .cart-main__item__overview {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    column-gap: 1rem;
  }

  .cart-main__item__overview > div {
    text-align: right;
  }
}

@media (min-width: 792px) {
  main {
    padding: 35px 0;
  }

  #cart-main {
    max-width: calc(100vw - 60px);
  }

  .cart-main__item {
    display: flex; 
    column-gap: 2rem;
    justify-content: space-between; 
    align-items: center; 
  }

  .cart-main__item__calc {
    margin-top: 0;
    display: flex;
    align-items: center;
    column-gap: 3rem;
  }

  .cart-main__item__overview > div {
    text-align: left;
  }

  .remove-cart-item-btn.norm {
     display: none;
  }

  .remove-cart-item-btn.icon {
     display: initial;
  }
}

@media (min-width: 960px) {
  main {
    padding: 40px 0;
  }
}

@media (min-width: 1024px) {
  main {
    padding: 45px 0;
  }

  .cart-main__item {
    column-gap: 3rem;
  }
}

@media (min-width: 1450px) {
  main {
    padding: 50px 0;
  }

  #cart-main {
    max-width: var(--section-max-width);
  }

  .cart-main__item {
    column-gap: 4rem;
  }
}