#cart-main {
  max-width: 1200px; 
  margin: 80px auto; 
}

.cart-main__title {
  text-align: center; 
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: .8px solid gray;
  padding: 14px 0; 
}

.cart-main__detail {
  display: flex; 
  flex-direction: column;
}

.cart-main__item {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  border-bottom: .8px solid rgb(220, 220, 220);
  padding: 8px 0;
}

.cart-main__item-overview {
  display: flex;
  align-items: center; 
  column-gap: 1rem;
}

.cart-main__item__overview img {
  width: 120px; 
}

.cart-main__item__name {
  text-transform: uppercase; 
  font-size: 15px; 
  font-weight: 600;
}

.cart-main__item__options {
  opacity: .8; 
  font-size: 12px; 
  font-weight: 500;
  margin-top: 6px;  
}

.cart-main__item__price-origin {
  font-size: 13px; 
  font-weight: 600; 
  margin: 12px 0;
}

.cart-main__item__qty {
  margin: 12px 0;
}