.checkout {
  padding: 80px 180px;  
}

.checkout * {
  font-family: Roboto Condensed, sans-serif;
}

.checkout__header {
  border-bottom: 1px solid rgb(210, 210, 210);
  text-align: center;
  padding-bottom: 22px;
  margin-bottom: 35px;
}

.checkout__title {
  font-size: 20px;
  font-weight: 600;
}

.checkout__main {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  column-gap: 1.5rem;
}

.checkout__section__header {
  display: flex;
  align-items: center;
}

.checkout__section__header ion-icon {
  font-size: 24px;
}

.checkout__section__header__title {
  margin-left: 12px;
  text-transform: uppercase;
  font-weight: 600;
}

.checkout__section__main {
  padding: 16px;
  box-shadow: 0px 0px 12px rgb(235, 235, 235);
  margin: 18px 0;
}

.checkout__section__main.payments {
  display: flex;
  justify-content: space-between;
}

.checkout__section__main__title {
  margin-bottom: 4px;
}

.checkout__section__main input[type=text], textarea,
.checkout__section__main select {
  width: 100%; 
  padding-left: 12px;
  border: .8px solid rgb(214, 214, 214);
  border-radius: 4px;
}

.checkout__section__main textarea {
  font-size: 12px;
  height: 120px;
  margin-top: 20px;
  padding-top: 10px;
}

.checkout__section__main input[type=text],
.checkout__section__main select {
  height: 40px;
  margin: 4px 0;
}

#make-order-btn {
  padding: 12px 0; 
  font-weight: 700; 
  text-transform: uppercase; 
  width: 48%;
  background: rgb(40, 138, 214);
  color: #fff;
}

#explore-more-btn {
  background: var(--primary-color);
  padding: 12px 0; 
  font-weight: 700; 
  width: 48%;
}

#explore-more-btn a {
  color: #fff; 
  text-transform: uppercase; 
  text-decoration: none;
}